.container {
  background: #F6F6F7;
  height: 100vh;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 50px;

  .searchAffiliateContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .affiliateInfoContainer {
    width: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.body {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
  height: 100%;
  background-color: #fff;

  .affiliateList {
    margin: 5px 0;
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 0 0 70px 0;
    overflow-y: auto;
    background-color: #fff;
  }

  .content {
    width: 100%;
  }

  .conversation {
    background-color: #fff;
    width: 75%;
  }
}
