@use "scss/mixin";
@use "scss/vars";

.affiliateInfoContainer {

  width: 75%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width vars.$collapseMobileDuration;

  &.mobileConversation {
    width: 100%;
    overflow: hidden;
  }

  &.mobileAffiliate {
    width: 0;
  }

  .container {
    display: flex;
    align-items: center;
    padding-left: 20px;


    .backIcon {
      padding: 8px 10px;
      margin-right: 13px;
    }

    .avatar {
      margin-right: 12px;
    }

    .affiliateName {
      font-weight: 600;
    }
  }

}
