.container {
  background: #F6F6F7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.header {
  flex: 1 0 70px;
  width: 100%;
  display: flex;
  flex-direction: row;

  .searchAffiliateContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
  }

  .affiliateInfoContainer {
    width: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.body {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
  background-color: #fff;
  min-height: 0;

  .affiliateList {
    width: 25%;
    margin: 0;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 0;
    background-color: #fff;
  }

  .content {
    width: 75%;
  }

  .conversation {
    background-color: #fff;
    flex: 0 1 75%;
  }
}
