@use 'scss/_vars.scss';
@use 'scss/_mixin.scss';

.disabledChat {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #7f92a3;
	font-size: 12px;
}

.offChatIcon {
	margin-right: 4px;
}

.openSetting {
	color: #1d85e8;
	text-decoration: underline;
	cursor: pointer;
}

.container {
	background: #f6f6f7;
	height: 100svh;
	display: flex;
	flex-direction: column;

	.showConversation {
		@include mixin.mobileSmall {
			:global {
				.conversation {
					left: 55px;
					opacity: 1;
					transition: left 0.3s ease, opacity 0.25s ease 0.1s;
				}
				.aff-list {
					background-color: #f6f6f7;
				}
			}
		}
	}
}

.header {
	flex: 0 0 70px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.body {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	border-top: 1px solid #ccc;
	background-color: #fff;
	min-height: 0;
	position: relative;
}

.chatConversation {
	width: 75%;
	height: 100%;
	@include mixin.mobileSmall {
		position: absolute;
		top: 0;
		height: 100%;
		width: calc(100% - 55px);
		left: 100%;
	}
}

:global {
	.my-node-enter {
		left: 100%;
	}
	.my-node-enter-active {
		left: 55px;
		transition: left 300ms;
	}

	.my-node-enter-done {
		left: 55px;
	}
	.my-node-exit {
		left: 55px;
	}
	.my-node-exit-active {
		left: 100%;
		transition: left 300ms;
	}

	.my-node-exit-done {
		left: 100%;
	}
}
