@use "scss/_vars.scss";
@use "scss/_mixin.scss";

.container {
  background: #F6F6F7;
  height: 100svh;
  //height: calc(100svh - env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;

  &.mobileConversation {

    .searchAffiliateContainer {
      width: 0;
    }

    .affiliateList {
      width: 0;
      opacity: 0;
      overflow: hidden;
    }

    .affiliateInfoContainer {
      width: 100%;
      overflow: hidden;
    }

    .conversation {
      flex: 0 1 100%;
    }
  }

  &.mobileAffiliate {

    .searchAffiliateContainer {
      width: 100%;
    }

    .affiliateList {
      width: 100%;
    }

    .affiliateInfoContainer {
      width: 0;
    }

    .conversation {
      flex: 0 0 0;
      max-width: 0;
      opacity: 0;
    }
  }
}

.header {
  flex: 0 0 70px;
  width: 100%;
  display: flex;
  flex-direction: row;

  .searchAffiliateContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    transition: width vars.$collapseMobileDuration;
  }

  .affiliateInfoContainer {
    width: 75%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: width vars.$collapseMobileDuration;
  }
}

.body {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ccc;
  background-color: #fff;
  min-height: 0;

  .affiliateList {
    width: 25%;
    margin: 0;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 0;
    background-color: #fff;
    transition: all vars.$collapseMobileDuration;
  }

  .content {
    width: 75%;
  }

  .conversation {
    background-color: #fff;
    flex: 0 1 75%;
    transition: width vars.$collapseMobileDuration;
  }
}
