@use 'scss/vars';

.container {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: width vars.$collapseMobileDuration;

	&.mobileAffiliate {
		width: 100%;
	}

	&.mobileConversation {
		width: 0;
	}

	.searchBox {
		background-color: #fff;
		border-radius: 4px;
		width: 80%;
		border: 1px solid #bbbfc3;
		display: flex;
		align-items: center;

		.searchIcon {
			display: flex;
			padding: 0 10px;
			color: #7f92a3;
		}

		input {
			border: none;
			outline: none;
			width: 100%;
			padding: 10px 0;
			border-radius: 4px;

			&::placeholder {
				font-size: 14px;
			}
		}
	}
}
