@use "scss/vars";

.affiliateLoading {
  width: 25%;
  margin: 0;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  padding: 0;
  background-color: #fff;
  transition: all vars.$collapseMobileDuration;

  &.mobileConversation {
    width: 0;
    opacity: 0;
    overflow: hidden;
  }

  &.mobileAffiliate {
    width: 100%;
  }

}

.container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 5px 0;
  border-bottom: 1px solid #d9d9d970;
  cursor: pointer;

  &.unread {
    .affiliateName {
      font-weight: 600;
    }

    .latestChat {
      color: #000 !important;
    }
  }

  .avatar {
    margin-right: 12px;
    align-self: center;
    width: 40px;
  }

  .contentWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .isUnreadMessage {
    align-self: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .affiliateName {
      color: vars.$text-dark;
    }

    .latestChat {
      font-size: 14px;

      &.notChatYet {
        color: #8090a07a;
      }
    }
  }

  &.active {
    background-color: #1D85E838;
  }
}
