@use 'scss/vars';
@use 'scss/_mixin.scss';

.container {
	width: 25%;
	margin: 0;
	overflow-y: hidden;
	border-right: 1px solid #ccc;
	padding: 0;
	background-color: #fff;

	@include mixin.mobileSmall {
		width: 100%;
	}
}

.endItem {
	height: 1px;
}
