$text-dark: #092c4c;

$collapseMobileDuration: 0.3s;
$font-family: Poppins, sans-serif;
$font-size-xl: 16px;
$font-size-md: 14px;

/**
 * Media query
 */
$screen-mobileSmall: 'screen and (max-width: 450px)';
$screen-mobile: 'screen and (min-width: 451px) and (max-width: 992px)';
